@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
}


.page{
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:fixed;
    display:grid;
    place-items:center;
    transition:.5s ease-in-out;
}

.hidden{
    left:-100vw;
} 